.main{
   border: 1px solid #e1e8ed;
   width : 300px;
}
.content {
   padding-bottom : 10px;
}
.main {
    padding-bottom: 10px;
}
.follow{
    float : right;
    border : 1px solid #55acee;
}
.follow:hover {
    background:#55acee;
    color : white;
    cursor: pointer;
}
.image-container{
   width:15px;
   height:15px;
   float : left;
   background-image: url('/images/twitter-blue.png');
  }
.image-container:hover{
   background-image: url('/images/twitter-white.png');
}
.follow-inner{
    padding-top : 10px;
    padding-left : 20px;
    padding-right : 20px;
    padding-bottom : 10px;
}