<div data-dojo-attach-point='mainDiv'>
	<div class = "main">
		<div class = "created_at" >Created At : <span data-dojo-attach-point='createdAt'></span></div>
		<div class="intent follow">
			<div class="image-container"></div>
			<div class = "follow-inner">Follow</div>
		</div> 
		<div class = "title">
			<b> <span data-dojo-attach-point='userName'></span> </b><br> @ <span data-dojo-attach-point='screenName'></span> <br></div>
			<div class="content"> <span data-dojo-attach-point='text'></span></div>
		</div>

	</div>